$red: red;
$orange-red: orangered;
$yellow: yellow;
$yellow-green: yellowgreen;
$green: green;

// .strength {
// 	display: flex;
// 	height: 20px;
// 	width: 100%;

// 	.bar {
// 		height: 100%;
// 		width: 25%;
// 		transition: box-shadow 500ms ease-out;
// 		box-shadow: inset 0px 20px #1f1f1f;
// 	}

// 	.box-show {
// 		box-shadow: none;
// 	}

// 	.weak {
// 		background: linear-gradient(to right, red, orangered);
// 	}

// 	.moderate {
// 		background: linear-gradient(to right, orangered, yellow);
// 	}

// 	.good {
// 		background: linear-gradient(to right, yellow, yellowgreen);
// 	}

// 	.strong {
// 		background: linear-gradient(to right, yellowgreen, green);
// 	}
// }

.indicator {
	display: flex;
	height: 20px;
	width: 100%;

	.strength {
		content: '';
		position: absolute;
		top: 20px;
		left: 0;
		width: 0%;
		transition: 1s;
		height: 18px;
	}

	.blank-box {
		content: '';
		position: absolute;
		top: 20px;
		left: 0;
		width: 0%;
		height: 18px;
		transition: 2s;
		width: 100%;
		background: grey;
	}

	.weak {
		background: linear-gradient(to right, $red, $orange-red);
		width: 25%;
	}

	.moderate {
		background: linear-gradient(to right, $red, $orange-red, $yellow);
		width: 50%;
	}

	.good {
		background: linear-gradient(
			to right,
			$red,
			$orange-red,
			$yellow,
			$yellow-green
		);
		width: 75%;
	}

	.strong {
		background: linear-gradient(
			to right,
			$red,
			$orange-red,
			$yellow,
			$yellow-green,
			$green
		);
		width: 100%;
	}
}
