.strength {
	display: flex;
	height: 20px;
	width: 100%;

	.bar {
		margin-right: 5px;
		height: 100%;
		width: 25%;
		transition: box-shadow 500ms;
		box-shadow: inset 0px 20px #1f1f1f;
	}

	.box-show {
		box-shadow: none;
	}

	.weak {
		background: linear-gradient(to right, red, orangered);
	}

	.moderate {
		background: linear-gradient(to right, orangered, yellow);
	}

	.good {
		background: linear-gradient(to right, yellow, yellowgreen);
	}

	.strong {
		background: linear-gradient(to right, yellowgreen, green);
	}
}
