$sub-color: grey;
$main-color: #f06543;
$error-color: #ed4337;

.form {
	position: relative;
	margin: 45px 0;
	padding: 0 40px;
	box-sizing: border-box;

	code {
		color: $error-color;
		font-size: 16px;
		transition: 0.5s;
		font-weight: bold;
		position: relative;
		top: -10px;
	}

	.form-input {
		position: relative;
		border-bottom: 2px solid $sub-color;
		margin: 25px 0;

		input {
			width: 100%;
			padding: 0 5px;
			height: 40px;
			font-size: 16px;
			border: none;
			background: none;
			outline: none;
		}

		label {
			position: absolute;
			top: 50%;
			left: 3%;
			color: $sub-color;
			transform: translateY(-50%);
			font-size: 16px;
			pointer-events: none;
			transition: 0.5s;
		}

		span::before {
			content: '';
			position: absolute;
			top: 40px;
			left: 0;
			width: 0%;
			height: 2px;
			background: $main-color;
			transition: 0.5s;
		}

		input:focus ~ label,
		input:valid ~ label {
			top: -5px;
			color: $main-color;
		}

		input:focus ~ span::before,
		input:valid ~ span::before {
			width: 100%;
		}
	}

	.form-error {
		span::before {
			content: '';
			position: absolute;
			top: 40px;
			left: 0;
			width: 0%;
			height: 2px;
			background: $error-color;
			transition: 0.5s;
		}

		input:focus ~ label,
		input:valid ~ label {
			top: -5px;
			color: $error-color;
		}
	}
}
