body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Courier New', Courier, monospace;
	background-color: #e8e9eb;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html,
body {
	height: 100%;
}
