.error-page {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: var(--black);

	p {
		font-weight: 600;

		span {
			content: '';
			border-right: 1px solid var(--black);
			padding: 0.5em 0px;
			margin-right: 10px;
		}
	}
}
